<app-header></app-header>
<div class="body">
<div class="header-replacer"></div>
<br>

<div class= "anunturi">
        
  <mat-card class="info">
          <h1>Secretariat <a href="https://psiedu.ubbcluj.ro/118-livia-dobrota">https://psiedu.ubbcluj.ro/118-livia-dobrota </a></h1>
          <h1>Telefon: +40-264-590967</h1>
          <h1>E-mail: secretariatmaster@psychology.ro </h1>
            <h1>Adresa: Str. Republicii nr. 37, Cluj-Napoca, jud. Cluj, Romania, cod postal: 400015</h1>
  <h1>Decanat E-mail: <a href="https://psiedu.ubbcluj.ro/index.php?id=110-mirela-moteoc"> https://psiedu.ubbcluj.ro/index.php?id=110-mirela-moteoc</a></h1>

  </mat-card>
</div>

<mat-card class="card">
  <mat-card-header class="header">
          <div class="title"> Date de contact</div>
        
    </mat-card-header>

    <mat-card-content class="content">
      <mat-accordion class="headers-align">
        
                <mat-accordion class="headers-align">
                    <mat-expansion-panel >
                      <mat-expansion-panel-header>
                        <mat-panel-title style="color: rgb(26, 78, 102); width: 200px">
                          Decan: Prof.univ.dr. Opre Nicolae Adrian
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <b style="text-decoration:underline bold;">Program audiente: marti</b>
                      <ul>
                        <li>10:00–11:00 cadre didactice şi personal administrativ</li>
                        <br>
                        <li>11:00 – 12:00 studenţi</li>
                        <br>
                        <li>2:00 – 13:00 alte persoane</li>
                        <br>
                        <li>Asigură conducerea operativă şi managementul strategic al facultăţii</li>
                        <br>
                        <li>Responsabil de managementul financia</li>
                        <br>
                        <li>Responsabil resurse umane şi asigurarea calităţii </li>
                        <br>
                        <li>Responsabil coduri şi regulamente</li>
                        <br>
                        <li>Responsabil admitere</li>
                      </ul>

            
                    </mat-expansion-panel>

                    <mat-expansion-panel >
                      <mat-expansion-panel-header>
                        <mat-panel-title style="color: rgb(26, 78, 102); width: 200px">
                          Prodecan: Conf.univ.dr. Glava Adina
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <b style="text-decoration:underline bold;">Program audiente: vineri - orele: 10:00-12:00</b>
                      <ul>
                        <li>Responsabil de specializările domeniului Științe ale Educaţiei linia română (nivel licenţă şi master)</li>
                        <br>
                        <li>Responsabil extensii universitare linia română</li>
                        <br>
                        <li>Responsabil cooperări internaţionale şi mobilităţi cadre didactice şi studenţi</li>
                        <br>
                        <li>Responsabil probleme culturale şi sociale studenţi nivel facultate</li>
                        <br>
                        <li>Co-responsabil curriculum domeniul Ştiinţe ale Educaţiei</li>
                        <br>
                        <li>Co-responsabil relaţia cu mediul de afaceri şi alumni </li>
                        <br>
                      </ul>

            
                    </mat-expansion-panel>

                    <mat-expansion-panel >
                      <mat-expansion-panel-header>
                        <mat-panel-title style="color: rgb(26, 78, 102); width: 200px">
                          Prodecan: Prof.univ.dr. Felezeu Călin
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <b style="text-decoration:underline bold;">Program audiente: miercuri - orele: 10:00-12:00</b>
                      <ul>
                        <li>Responsabil curriculum</li>
                        <br>
                        <li>Responsabil formarea continua, ID-FR</li>
                        <br>
                        <li>Responsabil practica studenţilor</li>
                        <br>
                        <li>Responsabil relaţia cu mediul de afaceri și alumni</li>
                        <br>
                        <li>Co-responsabil comunicare, coduri, regulamente</li>
                        <br>
                        <li>Co-responsabil asigurarea calităţii</li>
                        <br>
                      </ul>

            
                    </mat-expansion-panel>


                    <mat-expansion-panel >
                      <mat-expansion-panel-header>
                        <mat-panel-title style="color: rgb(26, 78, 102); width: 200px">
                          Prodecan: Conf.univ.dr. Foris-Ferenczi Rita
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <b style="text-decoration:underline bold;">Program audiente: luni - orele: 12:00-14:00</b>
                      <ul>
                        <li>Responsabil de specializările domeniului Psihologie şi Științe ale Educaţiei linia maghiară şi germană (nivel licenţă şi master)</li>
                        <br>
                        <li>Responsabil extensii universitare linia maghiară şi germană</li>
                        <br>
                        <li>Responsabil dialog intercultural</li>
                        <br>
                        <li>Co-responsabil curriculum domeniul Psihologie şi Ştiinţe ale Educaţiei linia maghiară şi germană</li>
                        <br>
                        <li>Co-responsabil relaţia cu mediul de afaceri şi alumni</li>
                        <br>
                        <li>Co-responsabil practica studenţilor linia maghiară şi germană</li>
                        <br>
                      </ul>

            
                    </mat-expansion-panel>

                    <mat-expansion-panel >
                      <mat-expansion-panel-header>
                        <mat-panel-title style="color: rgb(26, 78, 102); width: 200px">
                          Prodecan: Lect.univ.dr. Silviu Matu
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <b style="text-decoration:underline bold;">Program audiente: joi - orele: 10:00-12:00</b>
                      <ul>
                        <li>Responsabil de specializările domeniului Psihologie linia română (nivel licenţă şi master)</li>
                        <br>
                        <li>Responsabil cercetare ştiinţifică</li>
                        <br>
                        <li>Responsabil competitivitate - excelenţă</li>
                        <br>
                        <li>Responsabil probleme ştiinţifice studenţi domeniile Psihologie şi Ştiinţe ale Educaţiei linia română, maghiară şi germană</li>
                        <br>
                        <li>Co-responsabil curriculum domeniul Psihologie</li>
                        <br>
                        <li>Co-responsabil relaţia cu mediul de afaceri şi alumni</li>
                        <br>
                      </ul>

            
                    </mat-expansion-panel>

                  </mat-accordion>
  
        </mat-accordion>
      </mat-card-content>
    
</mat-card>
<br> <br>
<br>

</div>
<app-footer></app-footer>
