
<div class="body">
       
    <app-header></app-header>
    <div class="body">
    <div class="header-replacer"></div>
    <br>
    
    <mat-card class="card">
      <mat-card-header class="header">
          <div> 
            <b class="title">Burse</b> 
            <p>Liste bursieri – semestrul II 2019-2020</p>
          </div>   
      </mat-card-header>
      <mat-card-content>
            <div class="content">
              <br>
              <a class="link" href="https://psiedu.ubbcluj.ro/data/uploads/doc/burse/2019-2020-burse-performanta.pdf"> Burse de performanţă</a>
              <br>
              <a class="link" href="https://psiedu.ubbcluj.ro/data/uploads/doc/burse/2019-2020-burse-merit.pdf"> Burse de merit</a>
              <br>
              <a class="link" href="https://psiedu.ubbcluj.ro/data/uploads/doc/burse/2019-2020-burse-sociale.pdf"> Burse sociale</a>
              <p class="link"> Burse de ajutor social din fonduri extrabugetare </p>
              <ul>
                <li><a href="https://psiedu.ubbcluj.ro/data/uploads/doc/burse/extrabugetare/buget.pdf"> Burse de ajutor social din fonduri extrabugetare studenti buget </a></li>
                <li><a href="https://psiedu.ubbcluj.ro/data/uploads/doc/burse/extrabugetare/taxa.pdf"> Burse de ajutor social din fonduri extrabugetare studenti taxa </a></li>
                <li><a href="https://psiedu.ubbcluj.ro/data/uploads/doc/burse/extrabugetare/imbracaminte-buget.pdf"> Burse de ajutor social din fonduri extrabugetare imbracaminte incaltaminte buget </a></li>
                <li><a href="https://psiedu.ubbcluj.ro/data/uploads/doc/burse/extrabugetare/imbracaminte-taxa.pdf"> Burse de ajutor social din fonduri extrabugetare imbracaminte incaltaminte taxa </a></li>
                <li><a href="https://psiedu.ubbcluj.ro/data/uploads/doc/burse/extrabugetare/respinsi-bursa.pdf"> Dosare respinse bursa </a></li>
                <li><a href="https://psiedu.ubbcluj.ro/data/uploads/doc/burse/extrabugetare/respinsi-imbracaminte.pdf"> Dosare respinse bursa imbracaminte incaltaminte </a></li>
              </ul>
              <a class="link" href="https://psiedu.ubbcluj.ro/data/uploads/doc/burse/2019-2020-semii-repartizare-fond-burse.pdf"> Repartizare fond burse </a>
              <p class="link"> TOȚI studenţii care beneficiază de bursă, sunt rugaţi să trimită scanat contul IBAN pe e-mail: <a href="mailto:social@ubbcluj.ro"> social@ubbcluj.ro </a></p>

              <br>
              <br>

              <a class="link" href="https://psiedu.ubbcluj.ro/data/uploads/doc/burse/cerere-bursa.pdf"> Cerere tip pentru acordare bursa - invatamant cu frecventa </a>
              <br>
              <a class="link" href="https://psiedu.ubbcluj.ro/data/uploads/doc/burse/cerere-bursa-invatamant-id.pdf"> Cerere tip pentru acordare bursa - invatamant la distanta </a>
              <br>
              <br>
              <p class="link"> Repartizare fond burse </p>
              <button class = "dropdown" > <a style="color:white; font-size:20px;" href="https://psiedu.ubbcluj.ro/index.php?id=0-anunturi-facultate&post=03-anunturi-burse"> Vezi anunturi </a> </button>
            </div>
      </mat-card-content>
      </mat-card>
      <br> <br>
      <app-footer class="footer"></app-footer>
    </div>
  
  
