@import "../../../../assets/styles/variables.scss"; 


.header {
    position:sticky;
    top:0;
    z-index:50;
    display: flex;
    align-items: center;
    width: 100%;
    background: $light-grey;
    height: 16%;
  }

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}  

img{
  width: 100%;
}

.tabs {
  position:sticky;
  top:0;
  z-index:50;
  display: flex;
  align-items: center;
  width: 100%;
  background: $grey;
  height: 7vh;
  //text-align: center;
}

.list-horizontal {
  width: 100%;
}

mat-nav-list.list-horizontal {
  padding: 10%;
  text-align: center;
  .mat-list-item {
    display: inline-block;
    height: auto;
    width: 20%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    color: $dark-blue;
  }

}
 
.link{
  padding: center;
}