@import "../../../../assets/styles/variables.scss"; 



.header {
  position:fixed;
  top:0;
  z-index:50;
  display: flex;
  align-items: center;
  width: 100%;
  background: $light-grey;
  height: 200px;
  display: block;
  
  }

.logoHeader{
  position:sticky;
  top:0;
  z-index:50;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: $light-grey;
}  

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}  

img{
  width: 100%;
}

.tabs {
  position:sticky;
  top:0;
  z-index:50;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: $dark-blue;
}

.button{
  color: white;
  font-size: 25px;
}

button{
  height: 60px;
  width: 20%;
}

.dropdown{
 float: right;
 font-size: 17px;
 background: $dark-blue;
 color: white;
}

.dropdown:hover{
  background: $dark-blue;
}

a{
  text-decoration: none;
  color: white;
}