
<div class="body">
       
    <app-header></app-header>
    <div class="header-replacer"></div>
    
    <main>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
            <div class = "bigBigContainer">
                <div class="bigContainer">
                    <br>
                    <h2>Prezentare generală a masteratului RUSO</h2>
                    <p>
                        Programul de masterat Psihologia Resurselor Umane şi Sănătate Organizaţională este
                        conceput pentru a oferi o fundamentare ştiinţifică în domeniul psihologiei aplicate în context
                        industrial-organizaţional și urmărește dezvoltarea competențelor de diagnoză, evaluare și
                        intervenție în organizații. Programul abordează organizațiile ca sisteme complexe și oferă o
                        perspectivă multinivelară asupra dinamicii și performanței organizaționale la nivel:
                    </p>
                    <ul>
                        <li>individual (prin cursuri precum: Coaching: metode și tehnici, Training în
                            organizaţii, Psihologia personalului),
                        </li>
                        <li>de grup (prin cursuri precum: Metode de optimizare a performanței grupurilor,
                            Colaborare și negociere) și
                        </li>
                        <li>organizațional (prin cursuri precum: Complexitate și dinamică organizațională,
                            Diagnoză Organizațională, Dezvoltare organizațională, Management strategic,
                            Technology and Society)
                        </li>
                    </ul>
                    <p>
                        Din punct de vedere al conținutului, programul masteral oferă o abordare
                        interdisciplinară, reunind arii precum: Resurse Umane, Dezvoltare Organizațională,
                        Comportament Organizațional și Sănătate Ocupațională și abordează modalități inovatoare
                        de formare, ce mixează documentarea științifică cu învățarea experiențială (prin participarea la
                        simulări extinse ale interacțiunilor intra și inter-organizaționale), învățarea prin contactul
                        direct cu practicienii (experți invitați) și cercurile de cercetare colaborativă.
                        Aliniat cu paradigma “scientist-practitioner”, programul dezvoltă competențe de
                        cercetare și oferă masteranzilor posibilitatea implicării directe în proiectele de cercetare și
                        dezvoltare organizațională ale Centrului de Cercetare în Psihologia Muncii și
                        Organizaționale – WOPRC (<a href="http://woprc.ro">http://woprc.ro</a>), precum și oportunități de practică în domeniu
                        prin parteneriate cu companii de consultanță în resurse umane și cu departamentele de resurse
                        umane din companii multinaționale sau naționale.
                    </p>
                    <p>
                        În plus, prin construirea organizației Alumni, programul masteral urmărește crearea
                        unei comunități de profesioniști (studenți, cercetărori și practicieni) care să faciliteze
                        dezvoltarea profesională continuă, precum și identificarea oportunităților de angajare și
                        promovare în carieră.
                    </p>
                    <p>
                        Obiectivele programului:
                    </p>
                    <ul>
                        <li>Dobândirea teoriilor, a principiilor, a modelelor, a metodelor şi tehnicilor de diagnoză,
                            evaluare şi intervenţie în domeniul psihologiei resurselor umane şi al sănătăţii
                            organizaţionale
                        </li>
                        <li>Dezvoltarea competenţelor de diagnoză, evaluare și intervenție în organizații la nivel
                            individual al angajatului, de grup/ echipă de muncă şi organizaţional
                        </li>
                        <li>Dezvoltarea competenţelor de cercetare a conceptelor şi a fenomenelor specifice
                            psihologiei resurselor umane şi sănătăţii organizaţionale
                        </li>
                        <li>Dezvoltarea nevoii de învăţare continuă profesională în paradigma „cercetător-practician” 
                        </li>
                        <li>
                            Dezvoltarea deprinderilor de a munci în cadrul unui grup/ echipe de profesionişti  
                        </li>
                    </ul>
                    <br>
                    <br>          
                </div>
            </div>
        </div>
      <div class= "testimoniale" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="10%" fxLayoutAlign="center">
            
            <mat-card fxFlex="50%">
                    <h1>Testimoniale</h1>
            </mat-card>
            
            <mat-card fxFlex="50%">
                <h2>Testimonial 1</h2>
          <p class="cardFont"> 
                        Îmi amintesc cu drag de cursurile avute şi informatiile primite. A fost o călatorie pe
                        parcursul căreia am învăţat ce înseamnă munca în echipă, responsabilitatea şi rigoarea.
                        Acum, după ce am absolvit, aceşti ani de învăţare, pot spune că, au pus bazele dezvoltării
                        mele profesionale, reprezentând un instrument important în activitatea mea atât prin
                        competenţele formate, cât şi prin informaţiile la care am avut acces (Violeta Mateș,
                        Coach & Specialist Dezvoltare Organizaţională)
          </p>
            </mat-card>
            
        <mat-card fxFlex="50%">
                <h2>Testimonial 2</h2>
                <p class="cardFont"> 
                        "Am ales acest program masteral (Masterul de Psihologia Resurselor Umane și Sănătate
                        Organizațională) deoarece a fost printre puținele programe din domeniul resurselor
                        umane pe care l-am considerat ca fiind în contact cu cerințele pieței muncii. Nu o dată
                        mi s-a întâmplat să sesizez faptul că informațiile din cadrul masteratului se cer și se
                        aplică în multinaționalele din Cluj-Napoca.
                        Lăsând la o parte piața muncii, un alt argument în favoarea acestui master este dat de
                        profesorii foarte deschiși și de cursurile care sunt în permanență ajustate cu cele mai
                        noi informații din domeniu. Acest lucru se datorează în bună parte centrului de
                        cercetare al departamentului de psihologia muncii și organizațională, care le oferă
                        posibilitatea studenților să se implice activ în cercetările derulate în cadrul acestuia.
                        În prezent există o comunitate de profesioniști alcătuită din colegi și profesori la care
                        am certitudinea că pot să apelez oricând aș avea nevoie de o informație bine
                        documentată." (Cristian Talpos, membru fondator Choice).
          </p>
            </mat-card>
            
            <mat-card fxFlex="50%">
                <h2>Testimonial 3</h2>
                <p class="cardFont"> 
                        Utilitatea şi valoarea masterului de Psihologia Resurselor Umane şi Sănătate
                        Organizaţională am înţeles-o mai ales când am ajuns în câmpul muncii. Ca student,
                        masterul mi-a deschis oportunitatea de a aprofunda subiecte care m-au atras încă din
                        timpul facultăţii, cum ar fi coaching, training, consiliere, dezvoltare organizaţională.
                        Chiar dacă în acel moment nu aş fi ştiut să spun la ce îmi vor folosi aceste discipline pe
                        viitor, acum pot spune că au fost esenţiale pentru a putea să-mi desfăşor activitatea de
                        Trainer si Consultant într-o companie de Resurse Umane. Am înţeles că un bagaj
                        teoretic bun este baza unei bune practici. Şi mai mult decât bagaj teoretic, masterul
                        RUSO, m-a pregătit pentru ceea ce înseamnă un mediu organizaţional în zilele noastre:
                        procese de grup, planificare si auto-organizare, interacţiuni 1 la 1, leadership, provocări
                        în medii şi echipe diverse. Toate acestea au fost studiate dar si experimentate de către
                        mine la masterul RUSO, mai ales datorită proiectelor de grup care uneori m-au scos din
                        zona de confort. Fără acest Master, probabil ar fi fost mai greu să înţeleg mediul de
                        muncă de astăzi, in dinamica şi diversitatea lui, şi as fi avut mai puţină încredere în
                        profesionalismul muncii mele (Andreea Munteanu, coach Brussels, Belgia)
          </p>
            </mat-card>
            <mat-card fxFlex="50%">
                <h2>Testimonial 4</h2>
                <p class="cardFont"> 
                        Au trecut aproape cinci ani de zile de la începutul masteratului. Acum mă găsesc în
                        postura de a evalua critic modul în care alegerea pe care am făcut-o, aceea de a studia
                        RUSO, mi-a influențat modul de a gândi, de a relaționa și, de ce nu!?, cariera. Nu e o
                        postură ușoară pentru că nu vreau să tratez superficial subiectul dar nici să cad în
                        extrema prozelitului. Nu cred că trebuie să menţionez că fac un efort mare de a
                        identifica punctul cu care să încep mai ales că n-am fost obligat să fac nimic. Nimic mai
                        mult decât a învăța să gândesc în relaționarea cu ceilalți, pentru mine, și să mă strădui
                        să fiu parte din acea generație care face lucrurile să se întâmple.
                        Dacă alegi să studiezi la acest master, sper să vii peste ceva vreme și să spui: Bogdan,
                        simt că am fost ajutat să înțeleg că &quot;knowledge is the investment that pays the best
                        interest&quot;.
                        Una dintre valorile acestei școli este orientarea știnţifică iar această orientare nu poate
                        exista decât într-un context care încurajează cunoașterea. Ca să dau un exemplu
                        concret, îmi aduc aminte de un Profesor entuziast care ne spunea cu multă pasiune
                        despre cercetările lui Amy Edmondson. Ei, asta se întâmpla în 2011. Anul trecut, Amy a
                        primit recunoaștere internațională, cu un articol devenit viral din NY Times, pentru
                        munca depusă. Ah, o urmare a muncii ei este faptul că cei de la Google încearcă să-și
                        organizeze echipele pentru a obține eficiență conform îndrumărilor primite de la
                        Edmondson. Să ai acces la informații actuale de o reală calitate în mediul universitar
                        înseamnă să ai șansă de a fi bun și la curent în orice zonă profesională te-ai îndrepta, de
                        la specialist în resurse umane până la consilier de carieră sau chiar coach.
                        Vreau să mai punctez un singur aspect pe care îl apreciez la acest master, știți voi &quot;vorba
                        lungă, sărăcia omului&quot;, și anume, ce am primit de la oamenii cu care am interacționat. Au
                        fost multe momente în care proiectele de grup pe care trebuia să le livrăm nu au mers
                        conform așteptărilor noastre, dezbateri aprinse, discuții în contradictoriu, termene
                        depășite. În momentul de față, ne vedem cel puțin o dată pe lună la o cafea, a se citi bere,
                        cu acei oameni alături de care lucram în proiecte. Cum de se întâmplă asta? O pun pe
                        seama faptului că acest masterat ne-a ajutat să ne dezvoltăm abilități de gândire de
                        ascultare activă, de critică constructivă, de argumentare care pot fi puse sub o umbrelă
                        mai mare: muncă în echipă. Ei, toate aceste skill-uri îți vor oferi cu siguranță un avantaj
                        competitiv în domeniul tău, oricare ar fi el.
                        Dacă ai întrebări cu privire la acest master te încurajez să-i întrebi pe coordonatori. Îți
                        spun cu siguranță că-ți vor răspunde. Multă baftă în orice alegi!
                        (Bogdan Corduneanu, HR Manager. )
          </p>
            </mat-card>
            <mat-card fxFlex="50%">
                <h2>Testimonial 5</h2>
                <p class="cardFont"> 
                        &quot;O colecţie nelimitată de cunoştinţe privind fenomenele din mediul organizaţional, care
                        sintetizează, clarifică şi clasifică majoritatea situaţiilor trăite de o persoană într-o
                        organizaţie. Fără suportul masterului RUSO, această colecţie de cunoştinţe se
                        dobândeşte în decursul mai multor ani în diverse organizaţii, şi posibil fără susţinerea
                        teoretică şi ştiinţifică a acestor fenomene.
                        Experienţa celor 2 ani de master RUSO a fost inegalabilă şi incomparabilă cu anii de
                        experienţă de lucru în companii private, fapt datorat în cea mai mare parte modului de
                        învăţare experienţială care mi-a permis implicarea directă, reflecţia şi conceptualizarea
                        experienţelor în situaţii noi din micro-organizaţiile din care am făcut parte, totul în mod
                        real, nesimulat.
                        În practică, colecţia de cunoştinţe dobândite la masterul RUSO a fost şi îmi este extrem
                        de folositoare în două direcţii: una la nivel individual prin folosirea lor pentru
                        optimizarea comportamentului individual faţă de orice organizaţie şi faţă de cei cu care
                        interacţionez; alta la nivel organizaţional prin suportul teoretic şi practic pentru
                        intervenţiile cu scopul de a îmbunătăţi anumite situaţii sau elimina anumite fenomene
                        negative.
                        Recomand masterul RUSO tuturor celor care îşi doresc să urmeze o carieră în domeniul
                        resurselor umane, tuturor celor care deţin  o poziţie de conducere sau tuturor celor care
                        au interes în studierea fenomenelor organizaţionale.&quot; (Marius, manager)
          </p>
            </mat-card>
      </div>
      <br>
    </main>
</div>

<app-footer></app-footer>
    