<app-header></app-header>
<div class="body">
<div class="header-replacer"></div>
<br>

<mat-card class="card">
  <mat-card-header class="header">
          <div class="title">Lista companii partenere WOP-RC de colaborare si internship
            </div>
        
    </mat-card-header>
    <mat-card-content>
      <div class="content">
      <br>
      <ul>
          <li>Sykes <a href="https://www.sykes.com/romania/ "> https://www.sykes.com/romania/ </a></li>
          <br>
          <li>Bosch <a href="https://www.bosch.ro/"> https://www.bosch.ro/ </a></li>
          <br>
          <li>Msg systems <a href="https://www.msg-systems.ro/"> https://www.msg-systems.ro/  </a></li>
          <br>
          <li>Emerson <a href="https://www.emerson.com/en-ro"> https://www.emerson.com/en-ro  </a></li>
          <br>
          <li>Bombardier <a href="https://www.bombardier.com/en/worldwide-presence/country.romania.html"> https://www.bombardier.com/en/worldwide-presence/country.romania.html  </a></li>
          <br>
          <li>NTT Data <a href="https://ro.nttdata.com/"> https://ro.nttdata.com/  </a></li>
          <br>
          <li>Integra HR <a href="https://www.integrahr.ro/"> https://www.integrahr.ro/   </a></li>
          <br>
          <li>Sales Consulting <a href="https://www.salesconsulting.ro/"> https://www.salesconsulting.ro/  </a></li>
          <br>
          <li>Know <a href="http://know-team.ro/"> http://know-team.ro/ </a></li>
          <br>
          <li>PsihoSelect <a href="https://psihoselect.ro/"> https://psihoselect.ro/  </a></li>
          <br>
          <li>Adecco <a href="https://www.adecco.ro/en/"> https://www.adecco.ro/en/ </a></li>
          <br>
          <li>Danis Consulting <a href="https://www.danis.ro/romana/"> https://www.danis.ro/romana/ </a></li>
          <br>
          <li>ManPower <a href="https://www.manpower.ro/"> https://www.manpower.ro/   </a></li>
        </ul>
      <br>
      <br>
      <br>
      </div>
  </mat-card-content>
  </mat-card>
  <br> <br>
  <app-footer class="footer"></app-footer>
</div>

