
<app-header></app-header>
<div class="body">
<div class="header-replacer"></div>
<br>

<mat-card class="card">
  <mat-card-header class="header">
          <div class="title"> Calendar Admitere</div>
        
    </mat-card-header>
    <mat-card-content class="content">
      <br>
      
        <p>*Pentru inserţie pe piaţa muncii, competenţele trebuie certificate de Colegiul Psihologilor din România.</p>
        <mat-accordion class="headers-align">
                    
            <mat-tab-group>
                <mat-tab label="Competenţe generale" style="font-size:20px;">
                    <mat-accordion class="headers-align">
                      <br>
                      <ul>
                        <li>Analizarea nevoilor clienţilor în scopul oferirii de servicii în domeniul psihologiei resurselor umane și al sănătății organizaționale</li>
                        <br>
                        <li>Definirea scopului serviciilor în domeniul psihologiei resurselor umane şi al sănătăţii organizaţionale</li>
                        <br>
                        <li>Diagnosticarea și evaluarea caracteristicilor indivizilor, grupurilor, organizațiilor și ale situațiilor organizaționale</li>
                        <br>
                        <li>Proiectarea de intervenţii în domeniul psihologiei resurselor umane și al sănătății organizaționale pornind de la teorii și metode psihologice</li>
                        <br>
                        <li>Dezvoltarea de instrumente în domeniul psihologiei resurselor umane şi al sănătăţii organizaţionale pornind de la teorii şi metode psihologice</li>
                        <br>
                        <li>Implementarea de intervenții în mediul organizațional</li>
                        <br>
                        <li>Evaluarea procesului şi a rezultatelor intervențiilor prin raportare la obiectivele stabilite</li>
                        <br>
                        <li>Comunicarea informaţiilor cu caracter profesional într-o manieră adaptată specificului interlocutorului</li>
                      </ul>
                      </mat-accordion>
                   </mat-tab>
          

                <mat-tab label="Competenţe de specialitate">
                    <mat-accordion class="headers-align">
                      <br>
                        <ul>
                            <li>Executarea sarcinilor profesionale în conformitate cu valorile şi principiile etice în vigoare, respectiv pe baza reflecției asupra acestora și asupra propriilor competențe</li>
                            <br>
                            <li>Aplicarea tehnicilor de muncă eficientă în echipă multidisciplinară pe diverse paliere ierarhice</li>
                            <br>
                            <li>Elaborarea proiectelor de cercetare avansată a conceptelor şi a fenomenelor din domeniul psihologiei resurselor umane şi al sănătăţii organizaţionale</li>
                            <br>
                            <li>Evaluarea permanentă a propriei nevoi de formare continuă în vederea adaptării
                                competenţelor profesionale la dinamica mediului social şi utilizarea platformelor de e-
                                learning, a învățării de tip blended learning și a bazelor de date internaționale pentru
                                dezvoltarea personală și profesională</li>
                            <br>
                            <li>Inițierea și menținerea de relații profesionale</li>
                          </ul>
                      </mat-accordion>
                   </mat-tab>
          
            </mat-tab-group>

         
            </mat-accordion>
  
  </mat-card-content>
  </mat-card>
  <br> <br>
  <br>

</div>

  <app-footer></app-footer>