
<div class="body">
       
    <app-header></app-header>
    <div class="body">
    <div class="header-replacer"></div>
    <br>
    
    <mat-card class="card">
      <mat-card-header class="header">
          <div> 
            <b class="title">Taxe scolarizare</b> 
            <br>
            <br>
            <br>
            <p>Taxe scolarizare, in anul 2019-2020</p>
          </div>   
      </mat-card-header>
      <mat-card-content>
            <div class="content">
              <br>
              <br>
              <p style="font-weight: bold;"> Master - Psihologia Resurselor Umane si Sanatate Organizationala</p>
              <p>Total(lei): 3.600</p>
              <p>Rata: 900 lei</p>
              <br>
              <p class="link"> Taxa de scolarizare se achita de catre studenti integral sau in rate. Facilitatea de plata in rate opereaza astfel: </p>
              <ul>
                <li> la confirmarea locului pentru studentii anului I, respectiv pana in data de 15 octombrie pentru studentii din ceilalti ani de studiu, cel putin 25% din taxa anuala;</li>
                <li> pana la 5 decembrie, cel putin 50% din taxa anuala; </li>
                <li> pana la 15 martie, cel putin 75% din taxa anuala; </li>
                <li> pana la 15 mai, 100% din taxa anuala datorata. </li>
              </ul>
              <br>
              <p class="link"> PENTRU PLATA INTEGRALA A TAXEI DE SCOLARIZARE PANA LA MOMENTUL CONFITMARII LOCULUI, STUDENTILOR ANULUI I LI SE ACORDA O REDUCERE DE  10%. </p>
              <br>
              <p class="link"> REDUCEREA DE  10% SE APLICA SI PENTRU CEILALTI ANI DE STUDII CU CONDITIA PLATII INTEGRALE A TAXEI PANA LA DATA DE 15 OCTOMBRIE 2019 PENTRU SPECIALIZARILE CU FRECVENTA, RESPECTIV PANA LA DATA DE 31 OCTOMBRIE 2019 PENTRU SPECIALIZARILE LA DISTANTA/FARA FRECVENTA.</p>
              <br>
              <p class="link">In cazul in care termenul este depasit plata ratelor se poate efectua DOAR PRIN CASIERIA FACULTATII pentru a putea fi calculate PENALITATILE AFERENTE de 0,04 % pe zi de intarziere</p>
              <br>
              <p class="link">In termen, taxa se poate plati la casieria facultatii sau la orice oficiu postal, prin mandat postal.</p>
              <p class="link"> La destinatar mentionati: Facultatea de Psihologie si Stiinte ale Educatiei </p>
              <p class="link">Cont: RO35 TREZ 2162 0F33 0500 XXXX deschis la BN Trezoreria Cluj, cod fiscal: 4305849 </p> 
              <p class="link">Pentru ratele platite <span style="color:red;"> dupa termenul stabilit se vor percepe penalitati</span> in valoare de 0,04 %/zi </p>
            
            </div>
      </mat-card-content>
      </mat-card>
      <br> <br>
      <app-footer class="footer"></app-footer>
    </div>
  
  
