@import "../../../../assets/styles/variables.scss"; 

a {
    color: white;
    font-family: Lato;
  }
  
mat-toolbar {
    width: 100%;
    min-width: 475px;
    padding: 10px 20px 10px 10px;
    position: relative;
    z-index: 1;
    height: auto;
    background: $dark-blue;
}

  
.right{
    margin-left: 1%;
    margin-right: 10%;
    width: 30%;
    font-size: 70%;
}

.center{
    margin-left: 1%;
    width: 30%;
    font-size: 50%;

}

.left{
    margin-left: 10%;
    width: 30%;
    font-size: 50%;

}

p{
    color: $light-grey;
   
}

.vl {
    border-left: 3px solid #838584;
    height: 10vh;
    position: relative;
  }
