<div class="footer">

  <div class = "left">
      <a  href="http://psychology.psiedu.ubbcluj.ro/ro/" class="link"><p> Departamentul de Psihologie UBB</p></a>
      <a  href="https://psiedu.ubbcluj.ro/index.php" class="link"><p> Facultatea de psihologie şi Ştiinţe ale educaţiei UBB </p></a>
      <a  href="https://www.ubbcluj.ro/ro/" class="link"><p> Universitatea Babeş-Bolyai</p></a>
      <a  href="http://www.eawop.org/" class="link"><p> European Association of Work and Organizational Psychology</p></a>

  </div>

  <div class = "center">
      <a  href="https://www.siop.org/" class="link"><p>Society for Industrial and Organizational Psychology </p></a>
      <a  href="https://iaapsy.org/divisions/division1/" class="link"><p>International Association of Applied Psychology</p></a>
      <a  href="http://aom.org/" class="link"><p> Academy of Management </p></a>
      <a  href="http://www.apio.ro/" class="link"><p> Asociaţia de Psihologie Industrială şi Organizaţională </p></a>

  </div>

  <div class="vl"></div>

  <div class = "right">
    <p>
        Copyright © 2020 Facultatea de Psihologie si Stiinte ale Educatiei - UBB Cluj Napoca | UBB | Str. Sindicatelor, nr. 7, cod postal: 400029
    </p>
    
  </div>
</div>
